<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #4ec589;
      }
      main {
        display: block;
        text-align: center;
        color: #f4f4f4;
        font-family: "ABeeZee", "sans-serif";
        justify-content: center;
        margin-top: 200px;
      }
      h1 {
        font-size: 75px;
      }
      h2 {
        font-size: 25px;
      }
    </style>
  </head>
  <body>
   <!-- NAVBAR -->
    <% include partials/navbar.ejs %>
    <main>
      <h1>Profil Sayfası</h1>
      <h2><%= kisi %> kişisinin profil sayfasındasınız !</h2>
      <p><%= kisi %> nin memleketi <%= il %></p>
    </main>
  </body>
</html>
